<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" lang="en">
<head>
<meta charset="utf-8"/>
<title th:test="#{employee.list}"></title>  
<script th:inline="javascript">
$(document).ready(function() {

});
</script>
</head>
<body>
 	<div class="container-fluid spacer" layout:fragment="content">		
 		<div class="container-fluid spacer text-small">
			<table class="table table-striped table-sm">			
				<tbody>
					<tr>
						<td>
							<h3 th:text="#{employee.list}"></h3>
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
 	
		<div class="container-fluid spacer text-small">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th nowrap="nowrap" th:text="#{employee.first.name}"></th>
						<th th:text="#{employee.last.name}"></th>
						<th nowrap="nowrap" th:text="#{employee.email}"></th>
		 		 		<th width="10%" nowrap="nowrap" th:text="#{employee.salary}"></th>       
					</tr>
				</thead>
				<tbody>
					<tr th:each="l,status:${employeeList}" th:unless="${status.index} > 1000">					 
						<td th:text="${l.firstName}"></td>
						<td th:text="${l.lastName}"></td>
						<td th:text="${l.email}"></td>
		 		 		<td align="right"><span th:text="${#numbers.formatDecimal(l.salary, 0, 'COMMA', 2, 'POINT')}"></span>$</td>    		   	 		 			
					</tr>
				</tbody>
			</table>
		</div>
	</div>		
</body>
</html>